.phone{
  width:20rem;
  background:white;
  left:-5rem;
  
}
.PhoneInputCountry{
  background-color: white;
 
}
input.PhoneInputInput{
  height:2.5rem;
  padding:16px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: white;
}

@media screen and (max-width:300px){
  .phone{
    width:2rem;
  }
 
 }
 @media screen and (max-width:500px){
  .phone{
    width:18rem;
    left:-5rem;
  }
  .PhoneInputCountry{
    background-color: white;
    margin-right:0rem ;
  }
  
  
  
 }
 @media screen and (max-width:500px){
  .phone{
    width:18rem;
    left:-5rem;
  }
  .PhoneInputCountry{
    background-color: white;
    margin-right:0rem ;
  }
  
  
  
 }
 